name: Main workflow
on: [push]
jobs:
  run:
    name: Run
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Set Node.js 16.x
      uses: actions/setup-node@master
      with:
        version: 16.x
    - name: Install Dependencies
      run: yarn install
    - if: matrix.os == 'windows-latest'
      name: Lint
      run: yarn lint
    - name: Test
      run: yarn test
    - name: Build
      run: yarn build
